<div class="launch-box span4 offset4 text-center">
	<h1>Edit Your Image</h1>
	<br/>
	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: 'Change the title?', placeholder: 'Gibson, Martin, Taylor, etc...' %>
		<br/>
		<%= f.input :description, label: 'New description?', placeholder:'Describe it!' %>
		<br/>
		<%= f.input :image %>
		<br/>
		<%= f.submit 'Submit', :class => 'btn btn-info btn-large' %>
	<% end %>


</div>